@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: "DuepuntozeroRegular";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Duepuntozero-Regular.woff') format('woff');
  }

@layer utilities {
  .w-420 {
    width: 420px;
  }
  .w-460 {
    width: 460px;
  }
  .max-w-980 {
    max-width: 980px;
  }
  .h-432 {
    height: 432px;
  }
  .h-480 {
    height: 480px;
  }
  .h-643 {
    height: 643px;
  }
  .h-267 {
    height: 267px;
  }
  .ml-768 {
    margin-left: 768px;
  }
  .pb-428 {
    padding-bottom: 428px;
  }
  .tr {
    transform: translate(-391px,-104px);
  }
  .left-1144 {
    left: 1144px;
  }
  .max-w-360 {
    max-width: 360px;
  }
  .h-full-vh {
    height: 100vh;
  }
  .bg-gradient-dark-light {
    background: linear-gradient(to right, #ce3939, #ef4206);
  }
  .bg-gradient-light-dark {
    background: linear-gradient(to right, #ce3939, #99211f 60%);
  }
  .background-white {
    background: #ffff;
  }
}

@layer base {
  h1 {
    @apply text-6xl;
    @apply font-DZ-Regular;
    @apply text-title;
    @apply text-center;
  }
  h2 {
    @apply text-3xl;
    @apply font-DZ-Regular;
    @apply text-title;
  }
  h3 {
    @apply text-2xl;
    @apply Dosis-SemiBold;
    @apply text-white;
  }
  h5 {
    @apply text-2xl;
    @apply font-DZ-Regular;
    @apply text-title;
    @apply text-center;
  }
  h6 {
    @apply text-sm;
    @apply font-DZ-Regular;
    @apply text-title;
    @apply text-center;
  }
  input:focus-visible {
    outline: none;
  }
  textarea:focus-visible {
    outline: none;
  }
  address {
    @apply not-italic;
  }
  a:focus-visible {
    outline: none;
  }
  a:-webkit-any-link:focus-visible  {
    outline: none;
  }
}

@layer components {
  .Dosis-Bold {
    @apply font-Dosis font-bold;
  }
  .Dosis-Medium {
    @apply font-Dosis font-medium;
  }
  .Dosis-SemiBold {
    @apply font-Dosis font-semibold;
  }
  .Dosis-Regular {
    @apply font-Dosis font-normal;
  }
  /* TODO: Not Sure Why below is not working. Please investigate when time permits. */
   /* .bg-gradient-dark-light {
    @apply bg-gradient-to-r from-title to-lightRedGradientEnd;
  }
  .bg-gradient-light-dark {
    @apply bg-gradient-to-r from-title to-darkRedGradientEnd;
  } */
  .nav-bar-item {
    @apply px-4 hover:bg-gradient-light-dark hover:text-white hover:rounded-xl focus:bg-title focus:text-white focus:rounded-xl mx-1;
  }
  .list-number {
    @apply text-white Dosis-Bold text-6xl col-start-1 col-end-1 grid justify-items-center;
  }
  .list-gradient {
    @apply bg-gradient-dark-light rounded-xl;
  }
  .list-text {
    @apply Dosis-Bold text-3xl text-left col-start-2 col-end-6 pl-4;
  }
}